body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  -webkit-margin-before: 0.2 em;
  -webkit-margin-after:  0.2 em;
}

#spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  font-size: 20;
  z-index: 999;
  background: #ffffff;
}

.spinner-flex-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 100%;
}
.CodeMirror-scroll {
  height: initial;
}

code {
  font-size: 93%;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: auto;
  border-radius: 0.2em;
}

.mybutton {
  color: black;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 2px;
  background-color: #E0EBF6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2px;
  padding: 1px 8px;
  line-height: 20px;
}

.mybutton:hover {
  background: rgb(178, 208, 242);
}

.header {
  
}

.footer {
  
}

/*
#masterdiv {
  background-size: 350px;
  background-image: url("nixos-cccamp2015.png");
  background-repeat: no-repeat;
  background-position: right top, left top;
}*/

#output {
  color: white;
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: grey;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 5px;
  resize: vertical;
  margin-top: 4px;
}

#solution{
  color: black;
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  /*background-color: rgb(210, 177, 210);*/
  background-color: rgb(238, 238, 238);
  order: 1px solid rgba(0,0,0,0.15);
  padding: 5px;
  visibility: hidden;
  resize: vertical;
  margin-top: 4px;
}

#right {
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 50%;
  background: rgba(255, 255, 255,0.95);
}

#left {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: rgb(250, 250, 250);
}

/*#resize {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 5px;
  background: rgb(224, 235, 245);
  left: 50%;
  right: 50%;
  z-index: 100;
  cursor: move;
}*/

#bar {
  display: block;
  position: relative;
  height: 100%;
}

#adsfas {
  position: relative;
}

#nn {
  position: absolute;
  bottom: 0;
  z-index: 202;
  right: 4;
}

#kdvjf {
  float: right;
  position: absolute;
  z-index: 1;
  right: 10px;
}


