body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after:  0.2em;
}

#spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  font-size: 20;
  z-index: 999;
  background: #ffffff;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.spinner-flex-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 100%;
}
.CodeMirror-scroll {
  height: initial;
}

code {
  font-size: 93%;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: auto;
  border-radius: 0.2em;
}

.myButton {
  color: black;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 2px;
  background-color: #E0EBF6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2px;
  padding: 1px 8px;
  line-height: 20px;
}

.myButton:hover {
  background: rgb(178, 208, 242);
}

.header {
  
}

.footer {
  
}

#output {
  color: white;
/*   width: 100%; */
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: grey;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 5px;
/*   resize: vertical; */
  margin-top: 4px;
}

#solution{
  color: black;
/*   width: 100%; */
  word-wrap: break-word;
  white-space: pre-wrap;
  /*background-color: rgb(210, 177, 210);*/
  background-color: rgb(238, 238, 238);
  order: 1px solid rgba(0,0,0,0.15);
  padding: 5px;
  visibility: hidden;
/*   resize: vertical; */
  margin-top: 4px;
}

#autocheck{
  color: black;
/*   width: 100%; */
  word-wrap: break-word;
  white-space: pre-wrap;
  /*background-color: rgb(210, 177, 210);*/
  background-color: rgb(255, 248, 219)
  order: 1px solid rgba(0,0,0,0.15);
  padding: 5px;
  visibility: hidden;
/*   resize: vertical; */
  margin-top: 4px;
}

#right {
  padding-left: 16px;
  padding-right: 16px;
    flex-basis: calc(50%);

/*   position: absolute; */
/*   top: 0px; */
/*   bottom: 0px; */
/*   right: 0px; */
/*   left: 50%; */
  background: rgba(255, 255, 255,0.95);
  border: 2px dotted rgb(184, 217, 255);
}

#left {
/*   position: absolute; */
/*   top: 0px; */
/*   bottom: 0px; */
/*   left: 0px; */
/*   width: 50%; */
/*   overflow: hidden; */
  flex-basis: calc(50%);

  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: rgb(250, 250, 250);
  border: 2px dotted rgb(184, 217, 255);
}

#middle {
/*   display: block; */
/*   position: relative; */
  height: 100%;
}

#adsfas {
  position: relative;
}

#editorButtonGroup {
  position: absolute;
  bottom: 0;
  z-index: 202;
  right: 4;
}

#question_navigation {
  float: right;
  position: absolute;
  z-index: 1;
  right: 1px;
}


